on:
  issue_comment:
    types: [created]
    
permissions:
  issues: write
    
jobs:
  deploy-check:
    runs-on: ubuntu-latest
    steps:
      - name: acknowledge deployment request to commenter
        id: check
        uses: khan/pull-request-comment-trigger@master
        with:
          trigger: "/deploy"
          reaction: rocket
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: 'echo Found it!'
