name: Call a reusable workflow and use its outputs

on:
  workflow_dispatch:

jobs:
  do-it:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/reusable.yml
      - name: Run a one-line script
        run: echo Hello, world!
        
  
