name: Call a reusable workflow and use its outputs

on:
  workflow_dispatch:

jobs:
  Prueba:
    strategy:
        matrix:
            plugins: [kukumo-rest, kukumo-api]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check plugin changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            ${{ matrix.plugins }}:
              - 'kukumo-plugins/${{ matrix.plugins }}/**'
      
      - name: Check
        if: steps.changes.outputs.matrix.plugins == 'true'
        run: echo ${{ matrix.plugins }} 
  
